<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>contact</title>
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="static/css/mobile.css">
	<script src="static/js/mobile.js" type="text/javascript"></script>
	
</head>
<body><!-- <img src="images/satellite1.jpg" alt=""> -->
<div id="page">
	<div id="page">
		<div id="header">
			<div>
				<a href="{% url 'index' %}" class="logo"><img src="static/images/nwafunet3.png" alt=""></a>
				<ul id="navigation">
					<li>
						<a href="{% url 'index' %}">网站首页</a>
					</li>
					<li>
						<a href="{% url 'about' %}">苹果叶片病害检测</a>
					</li>
					<li>
						<a href="{% url 'project' %}">模型实现</a>
					</li>
					<li class="selected">
						<a href="{% url 'contact' %}">联系专家</a>
					</li>
                    <li>
						<a href="{% url 'suggest' %}">苹果叶片病介绍</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div class="header">
				<div class="contact">
					<h1>联系专家</h1>
					<h2></h2>
					<form action="{% url 'index' %}">
						<input type="text" name="Name" value="姓名" onblur="this.value=!this.value?'姓名':this.value;" onfocus="this.select()" onclick="this.value='';">
						<input type="text" name="Email Address" value="电子邮件" onblur="this.value=!this.value?'电子邮件':this.value;" onfocus="this.select()" onclick="this.value='';">
						<input type="text" name="Subject" value="主题" onblur="this.value=!this.value?'主题':this.value;" onfocus="this.select()" onclick="this.value='';">
						<textarea name="message" cols="50" rows="7">消息</textarea>
						<input type="submit" value="发送" id="submit">
                     </form>
		
				</div>
			</div>
          
		</div>
		<h1 style="color: #0D7539;"  align="center">可联系专家</h1>
				<div class="line"></div>
				<div class="cont">
				<table align="center" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:600px">
		<table align="center">
		<tbody>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><strong>姓名</strong></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><strong>所在部门</strong></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><strong>电子邮箱</strong></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><strong>方向</strong></span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="https://nxy.nwafu.edu.cn/szdw/zjrc/425326.htm">蔡铁</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">caitie@nwsuaf.edu.cn</span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/323981.htm">陈小莉</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:cxlrxl@aliyun.com">cxlrxl@aliyun.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282432.htm">陈越</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:xnchenyue@163.tom.com">xnchenyue@163.tom.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">副教授</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/326326.htm">董剑</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:dj4322@163.com">dj4322@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">副教授</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/326325.htm">董军刚</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:xnchenyue@163.tom.com">djg1101@aliyun.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">副教授</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/323983.htm">高金锋</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:gaojf7604@126.com">gaojf7604@126.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">副教授</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/357830.htm">高欣</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:bestgaoxin@nwsuaf.edu.cn">bestgaoxin@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">副教授</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282453.htm">高小丽</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:gao2123@yahoo.com.cn">gao2123@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">副教授</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/361069.htm">郭勇</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><a href="mailto:13325466213@163.com"><span style="font-size:16px"><span style="font-family:微软雅黑">13325466213@163.com</span></span></a></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">高级农艺师</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282447.htm">海江波</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:haijiangbo@126.com">haijiangbo@126.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/304803.htm">韩娟</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:hjepost@nwsuaf.edu.cn">hjepost@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282481.htm">何一哲</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:heyizhe@163.com">heyizhe@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/291635.htm">黄镇</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:hanxinhui@nwsuaf.edu.cn">huang_zhen.8@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">病虫害防控</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282462.htm">景忆莲</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:forever3096@163.com">forever3096@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282474.htm">李得孝</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:lidexiao@nwsuaf.edu.cn">lidexiao@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果培育</span></span></td>
		</tr>
		
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282487.htm">李晓燕</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:xiaoyanli@nwsuaf.edu.cn">xiaoyanli@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果种植</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/357760.htm">刘柏林</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:liubl@nwafu.edu.cn">liubl@nwafu.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果种植</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282440.htm">刘萌娟</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:liumj_2002@yahoo.com.cn">liumj_2002@yahoo.com.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果种植</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282478.htm">刘孟君</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:translatorliu@163.com">translatorliu@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果种植</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282451.htm">刘杨</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:liuyang0328@126.com">liuyang0328@126.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282439.htm">刘耀斌</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:liu61bin@yahoo.com.cn">liu61bin@yahoo.com.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">病虫害防治</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="https://nxy.nwafu.edu.cn/szdw/zjrc/425329.htm">李亚君</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:yajun3125@126.com">yajun3125@126.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282448.htm">卢碧霞</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:lubxia@tom.com">lubxia@tom.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/294581.htm">卢海彬</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:luhaibin011@hotmail.com">luhaibin011@hotmail.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">苹果培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/312032.htm">路海东</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:lhd2042@yahoo.com.cn">lhd2042@yahoo.com.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="https://nxy.nwafu.edu.cn/szdw/zjrc/425328.htm">刘铁宁</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:ltnlove319@nwsauf.edu.cn">ltnlove319@nwsauf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/379630.htm">刘新伦</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:Liuxxlun@126.com">Liuxxlun@126.com</a></span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑">植物研究</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/379501.htm">莫非</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-family:微软雅黑; font-size:16px">农学系</span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:mofei@nwsuaf.edu.cn">mofei@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282471.htm">马守才</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:mashoucai@sohu.com">mashoucai@sohu.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农作物种植</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282435.htm">闵安成</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:minancheng@163.com">minancheng@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种植培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/311472.htm">牛娜</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:niuna@nwsuaf.edu.cn">niuna@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">病虫害防治</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/399598.htm">聂小军</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:small@nwsuaf.edu.cn">small@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种植培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282442.htm">庞红喜</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种子科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:phxi@nwsuaf.edu.cn">phxi@nwsuaf.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种植培育</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/282466.htm">权力</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:kinesin@gmail.com">kinesin@gmail.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">病虫害防控</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/395361.htm">秦晓梁</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">农学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:xiaoliangqin2006@163.com">xiaoliangqin2006@163.com</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">病虫害防控</span></span></td>
		</tr>
		<tr>
			<td style="height:35.25pt; text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="http://nxy.nwsuaf.edu.cn/szdw/fjsfyjy/337323.htm">强晓玉</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">植物科学系</span></span></td>
			<td style="text-align:center; width:54pt"><span style="font-size:16px"><span style="font-family:微软雅黑"><a href="mailto:qiangxiaoyu@nwafu.edu.cn">qiangxiaoyu@nwafu.edu.cn</a></span></span></td>
			<td style="text-align:center; width:54pt;color: #0D7539"><span style="font-size:16px"><span style="font-family:微软雅黑">种植培育</span></span></td>
		</tr>
		
		</tbody>
		</table>
	</div>
<!--foot开始-->
<div class="foot">
  
	<div class="foot_line"><!-- <img src="images/9.jpg" /> --></div>
	<ul style="text-align:right">
			<li style="color:#ffffff">地址：&nbsp;中国 杨凌 邰城路3号</li>
			<li style="color:#ffffff">邮编：&nbsp;712100</li>
			<li style="color:#ffffff">A16组</li>
			<li style="color:#ffffff">小组成员：&nbsp;杨沁晨&nbsp;江鹏&nbsp;邓茜&nbsp;李静月&nbsp;</li>
            
	</ul>
<div class="foot_b" style="color:#ffffff;font-weight:bold;text-align:right"><p>&nbsp;&nbsp;西北农林科技大学信息工程&nbsp;&nbsp;</p></div>
</div>
   
</body>
</html>